* {
  box-sizing: border-box;
}

h1 {
  margin-left: 150px;
}

main {
  margin-top: 50px;
}

.scoreList > li:nth-child(even) {
  background-color: #f2f2f2;
}

.boardBody {
  display: flex;
  gap: 100px;
  justify-content: center;
}

.scoreHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.displayScores {
  width: 20%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#submit {
  margin-left: 170px;
}

.color1 {
  color: seagreen;
}

.btnColor {
  background: seagreen;
  color: white;
  border-radius: 5px;
  border: none;
  width: 80px;
  height: 30px;
}

input,
.scoreList {
  border: 1px solid seagreen;
  border-radius: 3px;
  width: 250px;
  padding: 5px;
  list-style: none;
}
